<div style="display: flex; align-items:center; justify-content:center;">

    <div style="display: flex; flex-direction:column; align-items:center">
        <form [formGroup]="formRegister" style="display: flex; flex-direction: column; align-items:center;" (ngSubmit)="register()">
            <p>
                <mat-form-field appearance="outline">
                  <mat-label>Nombre</mat-label>
                  <input matInput placeholder="Nombre" type="text" formControlName="name">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline">
                  <mat-label>Email</mat-label>
                  <input matInput placeholder="Email" type="email" formControlName="email">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline">
                  <mat-label>Password</mat-label>
                  <input matInput placeholder="Password" type="password" formControlName="password">
                </mat-form-field>
            </p>
            <button mat-flat-button color="primary" type="submit">Registrar</button>
        </form>
        <a routerLink="/login" style="text-decoration: none;">Ya tienes una cuenta?</a>
    </div>

</div>